<div class="container-fluid">
  <div class="row">
    <div class="col-md-3" style="background-color: #303030;">
      <div>
        <mat-card class="mt-3" style="background-color: #fff; align-items: center;">
          <form [formGroup]="todoForm">
            <mat-form-field appearance="outline" style="margin-top: 22px;">
              <mat-label>Task Name</mat-label>
              <input matInput placeholder="placeholder" formControlName="item">
              <mat-icon matSuffix>sentiment_very_satisfied</mat-icon>
              <mat-hint>Add a task</mat-hint>
            </mat-form-field>
            <br>
            <button (click)="addTask()" mat-raised-button color="primary" [disabled]="!todoForm.valid">Add</button>
          </form>
        </mat-card>
      </div>
    </div>
    <div>
      <input [(ngModel)]="newNotificationInterval" type="number" min="1" placeholder="Notification Interval (minutes)">
      <button (click)="updateNotificationInterval()">Set Interval</button>
    </div>
    <div class="col-md-9">
      <div cdkDropListGroup>
        <div cdkDropListGroup>
          <div class="row">
            <div class="col-md-6">
              <div class="example-container">
                <h2>To do</h2>
                <div cdkDropList [cdkDropListData]="tasks" class="example-list" (cdkDropListDropped)="drop($event)">
                  <div class="example-box" *ngFor="let item of tasks" cdkDrag>
                    <span>{{ item.description }}</span>
                    <div class="icon-container">
                      <mat-icon class="edit-icon cursor-pointer" (click)="editTask(item)" style="color: blue;">edit</mat-icon>
                      <mat-icon class="delete-icon cursor-pointer" (click)="deleteTask(item, 'tasks')" style="color: red;">delete</mat-icon>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <!-- <div class="col-md-4">
              <div class="example-container">
                <h2>In Progress</h2>
                <div cdkDropList [cdkDropListData]="inprogress" class="example-list" (cdkDropListDropped)="drop($event)">
                  <div class="example-box" *ngFor="let item of inprogress" cdkDrag>
                    <span>{{ item.description }}</span>
                    <div class="icon-container">
                      <mat-icon class="edit-icon cursor-pointer" (click)="editTask(item)" style="color: blue;">edit</mat-icon>
                      <mat-icon class="delete-icon cursor-pointer" (click)="deleteTask(item, 'inprogress')" style="color: red;">delete</mat-icon>
                    </div>
                  </div>
                </div>
              </div>
            </div> -->
            <div class="col-md-6">
              <div class="example-container">
                <h2>Done</h2>
                <div cdkDropList [cdkDropListData]="done" class="example-list" (cdkDropListDropped)="drop($event)">
                  <div class="example-box" *ngFor="let item of done" cdkDrag>
                    <span>{{ item.description }}</span>
                    <div class="icon-container">
                      <mat-icon class="edit-icon cursor-pointer" (click)="editTask(item)" style="color: blue;">edit</mat-icon>
                      <mat-icon class="delete-icon cursor-pointer" (click)="deleteTask(item, 'done')" style="color: red;">delete</mat-icon>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
